@*
    Copyright © 2017 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

@using Microsoft.Extensions.Options;
@using SoftinuxBase.Infrastructure
@using SoftinuxBase.Barebone.Tools;
@inject IOptions<CorporateConfiguration> OptionsApplicationConfiguration

<!DOCTYPE html>
<html lang="en" @if (!User.Identity.IsAuthenticated) { @Html.Raw("class=\"login-page\"") }>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>@Html.Raw(ViewBag.Title as string)</title>
    @await Component.InvokeAsync("StyleSheets")
    @RenderSection("Styles", false)
</head>
@{
    string authClass = "";
    authClass = !User.Identity.IsAuthenticated ? "h-vh-100 d-flex flex-justify-center flex-align-center" : "h-vh-100";
    // use typed "properties" variable else the compiler isn't able to understand the LINQ expression.
    System.Reflection.PropertyInfo[] properties = Model?.GetType().GetProperties();
    bool hasModelWithErrorMessageProperty = properties != null && properties.Where(p => p.Name.Equals("ErrorMessage")).Any();
}
<body class="@authClass">
    <div class="notify-container"></div>
    @if (User.Identity.IsAuthenticated)
    {
        <div data-role="navview" data-toggle="#paneToggle" data-expanded="xl" data-compact="lg" data-active-state="true" class="navview compact-lg expanded-xl" data-role-navview="true">
            <div class="navview-pane">
                @* Header Logo *@
                <div class="bg-cyan d-flex flex-align-center">
                    <button class="pull-button m-0 bg-darkCyan-hover">
                        <span class="mif-menu fg-white"></span>
                    </button>
                    <h2 class="text-light m-0 fg-white pl-7" style="line-height: 52px">@Html.Raw(OptionsApplicationConfiguration.Value.Name)</h2>
                </div>
                @* Navigation Menu *@
                <ul class="navview-menu mt-4" id="side-menu" style="height: calc(100% - 225px);">
                    <li class="item-header">MAIN NAVIGATION</li>
                    @await Component.InvokeAsync("Menu")
                </ul>
                @* Footer Navigation Menu *@
                <div class="w-100 text-center text-small data-box p-2 border-top bd-grayMouse" style="position: absolute; bottom: 0px;">
                    <div>© 2019 <a href="mailto:sergey@pimenov.com.ua" class="text-muted fg-white-hover no-decor">SOFTINUX</a></div>
                    <div>Created with <a href="https://metroui.org.ua" class="text-muted fg-white-hover no-decor">Metro 4</a></div>
                </div>
            </div>
        </div>
        <div class="navview-content h-100">
            @* Blue App Bar *@
            <div data-role="appbar" class="pos-absolute bg-darkCyan fg-white app-bar" id="app-bar-1582814825202775" data-role-appbar="true">
                <button type="button" class="hamburger menu-down hidden" style="display: none;"><span class="line"></span><span class="line"></span><span class="line"></span></button>
                <a href="#" class="app-bar-item d-block d-none-lg" id="paneToggle"><span class="mif-menu"></span></a>

                <div class="app-bar-container ml-auto">
                </div>
            </div>
            @* Main Area *@
            <div id="content-wrapper" class="content-inner h-100" style="overflow-y: auto">
                @* Breadcrumbs *@
                <div class="row border-bottom bd-lightGray m-3">
                    <div class="cell-md-4 text-center text-left-md">
                        <h3 class="dashboard-section-title">@RenderSection("title", false)</h3>
                        @if (@Html.IsDebug())
                        {
                            <partial name="_IsDebugBanner" />
                        }
                    </div>

                    <div class="cell-md-8 d-flex flex-justify-center flex-justify-end-md">
                        <ul class="breadcrumbs bg-transparent">
                            <li class="page-item"><a href="#" class="page-link"><span class="mif-meter"></span></a></li>
                            <li class="page-item"><a href="#" class="page-link">Dashboard</a></li>
                        </ul>
                    </div>
                </div>
                @* Main Content *@
                <div class="m-3">
                    @RenderBody()
                </div>
            </div>
        </div>
    }
    else
    {
        <h3>LOGIN</h3>
        RenderBody();
    }

    @await Component.InvokeAsync("Scripts")
    @if (!User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            $("input").keypress(function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    $("form").submit();
                }
            });
        </script>
    }
    @if (User.Identity.IsAuthenticated)
    {
        @RenderSection("Scripts", false)
    }
    @RenderSection("ScriptsUnauthenticated", false)
</body>
</html>
