@*
    Copyright © 2017 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

@using Microsoft.Extensions.Options;
@using SoftinuxBase.Infrastructure
@using SoftinuxBase.Barebone.Tools;
@inject IOptions<CorporateConfiguration> OptionsApplicationConfiguration

<!DOCTYPE html>
<html lang="en" @if (!User.Identity.IsAuthenticated) { @Html.Raw("class=\"login-page\"") }>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>@Html.Raw(ViewBag.Title as string)</title>
    @await Component.InvokeAsync("StyleSheets")
    <script>window.on_page_functions = [];</script>
    @RenderSection("Styles", false)
</head>
@{
    string authClass = "";
    authClass = !User.Identity.IsAuthenticated ? "h-vh-100 d-flex flex-justify-center flex-align-center" : "h-vh-100";
    // use typed "properties" variable else the compiler isn't able to understand the LINQ expression.
    System.Reflection.PropertyInfo[] properties = Model?.GetType().GetProperties();
    bool hasModelWithErrorMessageProperty = properties != null && properties.Any(p => p.Name.Equals("ErrorMessage"));
}
<body class="@authClass">
    <div class="notify-container"></div>
    @if (User.Identity.IsAuthenticated)
    {
        <div data-role="navview" data-toggle="#paneToggle" data-expand="xl" data-compact="lg" data-active-state="true" data-role-navview="true" id="navview-1582900115834133" class="navview navview-compact-lg navview-expand-xl">
            <div class="navview-pane">
                <div class="bg-cyan d-flex flex-align-center">
                    <button class="pull-button m-0 bg-darkCyan-hover">
                        <span class="mif-menu fg-white"></span>
                    </button>
                    <h2 class="text-light m-0 fg-white pl-7" style="line-height: 52px">SOFTINUX</h2>
                </div>
                <ul class="navview-menu mt-4" id="side-menu">
                    <li class="item-header">MAIN NAVIGATION</li>
                     @await Component.InvokeAsync("Menu")
                </ul>
                <div class="w-100 text-center text-small data-box p-2 border-top bd-grayMouse" style="position: absolute; bottom: 0">
                    <div>© 2019 <a href="#" class="text-muted fg-white-hover no-decor">Softinux</a></div>
                    <div>Created with <a href="https://metroui.org.ua" class="text-muted fg-white-hover no-decor">Metro 4</a></div>
                </div>
            </div>

            <div class="navview-content h-100">
                <div data-role="appbar" class="pos-absolute bg-darkCyan fg-white app-bar" data-role-appbar="true" id="app-bar-1582900115867967">
                    
                </div>
                <div id="content-wrapper" class="content-inner h-100" style="overflow-y: auto">
                    <div class="row border-bottom bd-lightGray m-3">
                        <div class="cell-md-4 text-center text-left-md">
                            <h3 class="dashboard-section-title">@RenderSection("title", false) <small>Version 0.1.0</small></h3>
                        </div>
                    
                        <div class="cell-md-8 d-flex flex-justify-center flex-justify-end-md">
                            <ul class="breadcrumbs bg-transparent">
                                <li class="page-item"><a href="#" class="page-link"><span class="mif-meter"></span></a></li>
                                <li class="page-item"><a href="#" class="page-link">Need to render title also here</a></li>
                            </ul>
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    }
    else
    {
        @RenderBody();
    }

    @await Component.InvokeAsync("Scripts")
    @if (!User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            $("input").keypress(function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    $("form").submit();
                }
            });
        </script>
    }
    @if (User.Identity.IsAuthenticated)
    {
        @RenderSection("Scripts", false)
    }
    @RenderSection("ScriptsUnauthenticated", false)
</body>
</html>
